.tabsContainer {
  background: lighten($secondary, 35%);
  grid-area: tabs;
  height: 100%;
  overflow: hidden;

  .tabs {
    height: 100%;
    overflow-y: auto;
  }
}

@media screen and (min-width: 768px) {
  .tabsContainer {
    background: transparent;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
  }

  .tabs {
    height: auto;
    display: flex;
    overflow-x: auto;
  }
}
