.loaderContainer {
  display: flex;
  justify-content: center;
  margin: 5em auto;
  padding: 1em 0;
}

.loader {
  animation: rotate 1500ms ease 0s infinite normal;
  border-radius: 50%;
  border: 0.5em solid transparent;
  border-color: transparent $secondary;
  height: 5em;
  width: 5em;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
