$white: #fff;
$black: #000;

$primary: #0d6efd;
$secondary: #6c757d;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;

$gutter: 0.5em;

$bp-sm: 576px;
$bp-lg: 992px;
$bp-sm: 1440px;
