.contactCard {
  align-items: flex-start;
  justify-content: flex-start;
  background-color: $light;
  display: flex;
  padding: 2em 1em;
  position: relative;
  z-index: 9;
}

.contentWrapper {
  padding-left: $gutter * 2;
  flex: 1;
}
